<div class="report-CuckooSandbox" >
    <style>
        .report-CuckooSandbox dl {
            margin-bottom: 2px;
        }
    </style>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>General Information</strong>
        </div>
        <div class="panel-body">

            <h4>File information</h4>
                <br>
                <dl class="dl-horizontal">
                    <dt>FileType</dt>
                    <dd>{{content.file_type}}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Malfamily</dt>
                    <dd>{{content.malfamily}}</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Malscore</dt>
                    <dd>
                        <span ng-class="{'label-info': content.malscore<=2, 'label-warning': content.malscore>2 && content.malscore<=6.5, 'label-danger': content.malscore >6.5}">
                            {{content.malscore}}
                        </span>
                    </dd>
                </dl>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Analysis</strong>
        </div>
        <div class="panel-body">

            <div >
                <h4>Signatures</h4>
                <br>
                <dl class="dl-horizontal" >
                    <dd>{{ signature }}</dd>
                </dl>
            </div>
            <div >
                No suspicious signature reported
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Analysis</strong>
        </div>
        <div class="panel-body">

            <div >
                <h4>Remote connections</h4>
                <br>
                <div>
                    <table class="table table-hover">
                        <tr>
                            <th>IP</th>
                            <th>Domain</th>
                        </tr>
                        <tr >
                            <td>{{domains[0]}}</td>
                            <td>{{domains[1]}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <br/>
            <hr>
            <br/>

            <div >
                <h4>URI</h4>
                <br>
                <dl class="dl-horizontal" >
                    <dd>{{ uri }}</dd>
                </dl>
            </div>
            <div >
                No suspicious uri reported
            </div>

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Yara</strong>
        </div>
        <div class="panel-body">

            <div >
                <h4>Yara</h4>
                <br>
                <dl class="dl-horizontal">
                    <dd>{{ content.yara }}</dd>
                </dl>
            </div>
            <div >
                No suspicious activity reported
            </div>

        </div>
    </div>

    <div class="panel panel-info" >
        <div class="panel-heading">
            <strong>Suricata</strong>
        </div>
        <div class="panel-body">
            <div>
                <h4>Suricata Alerts</h4>
                <br>
                <dl class="dl-horizontal" >
                    <dd>{{ suri }}</dd>
                </dl>
            </div>
        </div>
    </div>
	
    <div class="panel panel-info" >
        <div class="panel-heading">
            <strong>Snort</strong>
        </div>
        <div class="panel-body">

            <div>
                <h4>Snort Alerts</h4>
                <br>
                <dl class="dl-horizontal" >
                    <dd>{{ snort }}</dd>
                </dl>
            </div>
			
        </div>
    </div>	
</div>


<!-- General error  -->
<div class="panel panel-danger" >
    <div class="panel-heading">
        <strong>{{ (artifact.data or (artifact.attachment.name if artifact.attachment is defined and artifact.attachment.name is defined else '')) | fang }}</strong>
    </div>
    <div class="panel-body">
        {{ artifact.report.errorMessage if artifact.report is defined and artifact.report.errorMessage is defined else '' }}
    </div>
</div>
