<div class="panel panel-info" >
    <div class="panel-heading">
        Forcepoint WebsensePing Categories of <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" >
            <dt>{{tag}}</dt>
            <dd>{{value}}</dd>
        </dl>
    </div>
</div>

<div class="panel panel-danger" >
    <div class="panel-heading">
        <strong>{{ (artifact.data or (artifact.attachment.name if artifact.attachment is defined and artifact.attachment.name is defined else '')) | fang }}</strong>
    </div>
    <div class="panel-body">
        {{ artifact.report.errorMessage if artifact.report is defined and artifact.report.errorMessage is defined else '' }}
    </div>
</div>