<div class="panel panel-danger" >
    <div class="panel-heading">
        Malpedia Report
    </div>
    <div class="panel-body">
        <div >
            <h4>{{m.common_name}} <span style="font-size: small">[{{m.family}}]</span></h4>
            <dl class="dl-horizontal">
                <dt>Description</dt>
                <dd>{{m.description || "No description given."}}</dd>
                <dt>Attributions</dt>
		<dd>
			<span >No attributions given.</span>
			<ul >
				<li >{{x}}</li>
			</ul>
		</dd>
                <dt>Alternative Names</dt>
                <dd>
			<span >No alternative names given.</span>
			<ul >
				<li >{{x}}</li>
			</ul>
		</dd>
                <dt>Urls</dt>
                <dd>
			<span >No Urls given.</span>
			<ul >
				<li ><a href="{{x}}" target="_blank">{{x}}</a></li>
			</ul>
		</dd>
            </dl>
        </div>
    </div>
</div>
<div class="panel panel-success" >
    <div class="panel-heading">
        Malpedia Report
    </div>
    <div class="panel-body">
        <span>No matches.</span>
    </div>
</div>

<!-- General error  -->
<div class="panel panel-danger" >
    <div class="panel-heading">
        <strong>{{(artifact.data || artifact.attachment.name) | fang}}</strong>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal" >
            <dt><i class="fa fa-warning"></i> Yara: </dt>
            <dd class="wrap">{{artifact.report.errorMessage}}</dd>
        </dl>
    </div>
</div>
