{% if artifact.status == "Success" %}
{% set content = artifact.report.full %}
<div class="card border-success">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" class="nav-link active" id="home-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#home_{{ artifact.id }}" role="tab" aria-controls="home_{{ artifact.id }}" aria-selected="true">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="json-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#json_{{ artifact.id }}" role="tab" aria-controls="json_{{ artifact.id }}" aria-selected="false">Json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ext. Analisys
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        </a>
      </li>
    </div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home_{{ artifact.id }}" role="tabpanel" aria-labelledby="home-tab_{{ artifact.id }}">


<div class="panel panel-info" ng-if="success">
	<div class="panel-heading">
		Onyphe Summary - <strong>{{artifact.data}}</strong>
	</div>
	<div class="panel-body">
	    {% if content.totals_category.threatlist > 0 %}
	    <table class="table" ng-if="content.totals_category.threatlist > 0 ">
            <thead>
                <th>IPv6</th>
                <th>Subnet</th>
                <th>Threat list</th>
                <th>Seen date</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'threatlist' %}
                <tr ng-if="r['@category'] == 'threatlist' ">
                    <td>{{r.ipv6}}</td>
                    <td>{{r.subnet}}</td>
                    <td><b>{{r.threatlist}}</b></td>
                    <td>{{r.seen_date}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% if content.totals_category.threats > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.threats > 0 ">
    <div class="panel-heading">
        Threats</strong>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>IPv6</th>
                <th>Subnet</th>
                <th>Threat list</th>
                <th>Seen date</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'threats' %}
                <tr ng-if="r['@category'] == 'threats' ">
                    <td>{{r.ipv6}}</td>
                    <td>{{r.subnet}}</td>
                    <td><b>{{r.threatlist}}</b></td>
                    <td>{{r.seen_date}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if content.totals_category.geoloc > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.geoloc > 0 ">
    <div class="panel-heading">
        Geolocate
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>ASN</th>
                <th>City</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Organization</th>
                <th>IPv4</th>
                <th>IPv6</th>
                <th>Subnet</th>

            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'geoloc' %}
                <tr ng-if="r['@category'] == 'geoloc' ">
                    <td>{{r.asn}}</td>
                    <td>{{r.city}}</td>
                    <td>{{r.country_name}}/{{r.country}}</td>
                    <td>{{r.latitude}}</td>
                    <td>{{r.longitude}}</td>
                    <td>{{r.organisation}}</td>
                    <td>{{r.ip}}</td>
                    <td>{{r.ipv6}}</td>
                    <td>{{r.subnet}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if content.totals_category.inetnum > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.inetnum > 0 ">
    <div class="panel-heading">
        inetnum
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>ASN</th>
                <th>Country</th>
                <th>Subnet</th>
                <th>Organisation</th>
                <th>Location</th>
                <th>Netname</th>
                <th>Seen Date</th>
                <th>Source</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'inetnum' %}
                <tr ng-if="r['@category'] == 'inetnum' ">
                    <td>{{r.asn}}</td>
                    <td>{{r.country}}</td>
                    <td>{{r.subnet}}</td>
                    <td>{{r.organization}}</td>
                    <td>{{r.location}}</td>
                    <td>{{r.netname}}</td>
                    <td>{{r.seen_date}}</td>
                    <td>{{r.source}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if content.totals_category.ports > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.ports > 0 ">
    <div class="panel-heading">
        Ports
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>ASN</th>
                <th>Country</th>
                <th>IPv4</th>
                <th>Organisation</th>
                <th>Location</th>
                <th>OS</th>
                <th>Port</th>
                <th>Seen date</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'ports' %}
                <tr ng-if="r['@category'] == 'ports' ">
                    <td>{{r.asn}}</td>
                    <td>{{r.country}}</td>
                    <td>{{r.ip}}</td>
                    <td>{{r.organization}}</td>
                    <td>{{r.location}}</td>
                    <td>{{r.os}}</td>
                    <td>{{r.port}}</td>
                    <td>{{r.seen_date}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if content.totals_category.reverse > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.reverse > 0 ">
    <div class="panel-heading">
        Reverse</strong>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>Domain</th>
                <th>IPv4</th>
                <th>IPv6</th>
                <th>Reverse</th>
                <th>Seen date</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'reverse' %}
                <tr ng-if="r['@category'] == 'reverse' ">
                    <td>{{r.domain}}</td>
                    <td>{{r.ip}}</td>
                    <td>{{r.ipv6}}</td>
                    <td>{{r.reverse}}</td>
                    <td>{{r.seen_date}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if content.totals_category.datascan > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.datascan > 0 ">
    <div class="panel-heading">
        DataScan
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>ASN</th>
                <th>Country</th>
                <th>IPv4</th>
                <th>Organisation</th>
                <th>Location</th>
                <th>Port</th>
                <th>Protocol</th>
                <th>OS</th>
                <th>Product</th>
                <th>Product Version</th>
                <th>Seen Date</th>
                <th>Data MD5</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'datascan' %}
                <tr ng-if="r['@category'] == 'datascan' ">
                    <td class="wrap">{{r.asn}}</td>
                    <td class="wrap">{{r.country}}</td>
                    <td class="wrap">{{r.ip}}</td>
                    <td class="wrap">{{r.organization}}</td>
                    <td class="wrap">{{r.location}}</td>
                    <td class="wrap">{{r.port}}</td>
                    <td class="wrap">{{r.protocol}}</td>
                    <td class="wrap">{{r.os}}</td>
                    <td class="wrap">{{r.product}}</td>
                    <td class="wrap">{{r.productversion}}</td>
                    <td class="wrap">{{r.seen_date}}</td>
                    <td class="wrap">{{r.datamd5}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% if content.totals_category.forward > 0 %}
<div class="panel panel-info" ng-if="success && content.totals_category.forward > 0 ">
    <div class="panel-heading">
        Forward
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>Domain</th>
                <th>IPv4</th>
                <th>IPv6</th>
                <th>Seen date</th>
            </thead>
            <tbody ng-repeat="r in content.results | orderBy:'-seen_date'">
		{% for r in content.results %}
		{% if r['@category'] == 'datascan' %}
                <tr ng-if="r['@category'] == 'forward' ">
                    <td>{{r.domain}}</td>
                    <td>{{r.ip}}</td>
                    <td>{{r.ipv6}}</td>
                    <td>{{r.seen_date}}</td>
                </tr>
		{% endif %}
		{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
     </div>
     <div class="tab-pane fade" id="json_{{ artifact.id }}" role="tabpanel" aria-labelledby="json-tab_{{ artifact.id }}">
        <pre>
        <code>
{{ artifact }}
        </code>
        </pre>
    </div>
    </div> <!-- tab content -->
    </div> <!-- card body -->
</div>
{% else %}
<!-- General error -->
<div class="card border-danger">
        <div class="card-header alert alert-danger">
                <strong>Error</strong>
        </div>
        <div class="card-body">
                <strong>{{(artifact.data)}}</strong><br>
                {{ artifact.report.errorMessage}}
        </div>
    </div>
</div>
{% endif %}
