<div class="panel panel-info" >
    <div class="panel-heading">
        SinkDB information for <strong>{{artifact.data}}</strong>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>
            <p style="font-size: 1.5em;">
                <span class="label label-warning" >
                    Artifact is sinkholed.

                <table class="table" >
                    <thead>
                        <th>SinkDB ID</th>
                        <th>SinkDB URL</th>
                        <th>Type</th>
                        <th>Classification</th>
                        <th>Operator</th>
                    </thead>
                    <tbody >
                            <tr>
                                <td>{{r.id}}</td>
                                <td>{{r.sinkdb_reference}}</td>
                                <td>{{r.type}}</td>
                                <td>{{r.classification}}</td>
                                <td>{{r.operator}}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
                <span class="label label-success" >
                    Artifact is <strong>not</strong> sinkholed.
                </span>
            </p>
            <p style="font-size: 1.5em;">
                <span class="label label-warning" >
                    Artifact is part of a phishing awareness Campaign.

                <table class="table" >
                    <thead>
                        <th>SinkDB ID</th>
                        <th>SinkDB URL</th>
                        <th>Type</th>
                        <th>Classification</th>
                        <th>Operator</th>
                    </thead>
                    <tbody >
                            <tr>
                                <td>{{r.id}}</td>
                                <td>{{r.sinkdb_reference}}</td>
                                <td>{{r.type}}</td>
                                <td>{{r.classification}}</td>
                                <td>{{r.operator}}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
                <span class="label label-success" >
                    Artifact is <strong>not</strong> part of a phishing awareness campaign.
                </span>
            </p>
            <p style="font-size: 1.5em;">
                <span class="label label-warning" >
                    Artifact is a scanner.

                <table class="table" >
                    <thead>
                        <th>SinkDB ID</th>
                        <th>SinkDB URL</th>
                        <th>Type</th>
                        <th>Classification</th>
                        <th>Operator</th>
                    </thead>
                    <tbody >
                            <tr>
                                <td>{{r.id}}</td>
                                <td>{{r.sinkdb_reference}}</td>
                                <td>{{r.type}}</td>
                                <td>{{r.classification}}</td>
                                <td>{{r.operator}}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
                <span class="label label-success" >
                    Artifact is <strong>not</strong> a scanner.
                </span>
            </p>
        </dd>
      </dl>
    </div>
</div>

<!-- General error -->
<div class="panel panel-danger" >
    <div class="panel-heading">
        <strong>{{ (artifact.data or (artifact.attachment.name if artifact.attachment is defined and artifact.attachment.name is defined else '')) | fang }}</strong>
    </div>
    <div class="panel-body">
        {{ artifact.report.errorMessage if artifact.report is defined and artifact.report.errorMessage is defined else '' }}
    </div>
</div>