{% if artifact.get('status') == "Success" %}
{% set content = artifact.get('report', {}).get('full', {}) %}

<div class="card border-success">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active"
           id="home-tab_{{ artifact.get('id') }}"
           data-bs-toggle="tab"
           data-bs-target="#home_{{ artifact.get('id') }}"
           role="tab">
          Result
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           id="json-tab_{{ artifact.get('id') }}"
           data-bs-toggle="tab"
           data-bs-target="#json_{{ artifact.get('id') }}"
           role="tab">
          Json
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link disabled">
          Ext. Analysis
        </span>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active"
           id="home_{{ artifact.get('id') }}"
           role="tabpanel">

        <div class="card border-info">
          <div class="card-header bg-info text-white">
            Unshorten Link for <strong>{{ artifact.get('data') }}</strong>
          </div>
          <div class="card-body">

            {% if content.get('found') %}
              <dl class="row">
                <dt class="col-sm-4">Unshortened URL</dt>
                <dd class="col-sm-8">
                  {{ content.get('url', 'N/A') }}
                </dd>
              </dl>
            {% else %}
              <span>The link could not be unshortened.</span>
            {% endif %}

          </div>
        </div>

      </div>

      <div class="tab-pane fade"
           id="json_{{ artifact.get('id') }}"
           role="tabpanel">
        <pre><code>{{ artifact | tojson(indent=2) }}</code></pre>
      </div>

    </div>
  </div>
</div>

{% else %}
<div class="card border-danger">
  <div class="card-header alert alert-danger">
    <strong>Error</strong>
  </div>
  <div class="card-body">
    <strong>{{ artifact.get('data') }}</strong><br>
    {{ artifact.get('report', {}).get('errorMessage') }}
  </div>
</div>
{% endif %}
