{% if artifact.get('status') == "Success" %}
{% set content = artifact.get('report', {}).get('full', {}) %}
{% set results = content.get('indicator', {}).get('results', []) %}

<div class="card border-success">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active"
           id="home-tab_{{ artifact.get('id') }}"
           data-bs-toggle="tab"
           data-bs-target="#home_{{ artifact.get('id') }}"
           role="tab">
          Result
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           id="json-tab_{{ artifact.get('id') }}"
           data-bs-toggle="tab"
           data-bs-target="#json_{{ artifact.get('id') }}"
           role="tab">
          Json
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link disabled">
          Ext. Analysis
        </span>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active"
           id="home_{{ artifact.get('id') }}"
           role="tabpanel">

        <div class="panel panel-info">
          <div class="panel-heading">
            urlscan.io search results:
            {% if results | length > 20 %}
              <span class="float-end">({{ results | length }})</span>
            {% endif %}
          </div>

          <div class="panel-body">
            {% if results | length > 0 %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>URL</th>
                  <th>Result</th>
                  <th>Time</th>
                  <th>Screenshot</th>
                </tr>
              </thead>
              <tbody>
                {% for r in results %}
                <tr>
                  <td>{{ r.get('page', {}).get('url') }}</td>
                  <td>
                    {% if r.get('_id') %}
                    <a href="https://urlscan.io/result/{{ r.get('_id') }}"
                       target="_blank">
                      View Report
                    </a>
                    {% endif %}
                  </td>
                  <td>{{ r.get('task', {}).get('time') }}</td>
                  <td>
                    {% if r.get('screenshot') %}
                    <img src="{{ r.get('screenshot') }}"
                         width="150"
                         height="112"
                         alt="screenshot">
                    {% else %}
                    —
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
              <span>No results.</span>
            {% endif %}
          </div>
        </div>

      </div>

      <div class="tab-pane fade"
           id="json_{{ artifact.get('id') }}"
           role="tabpanel">
        <pre><code>{{ artifact | tojson(indent=2) }}</code></pre>
      </div>

    </div>
  </div>
</div>

{% else %}
<div class="card border-danger">
  <div class="card-header alert alert-danger">
    <strong>Error</strong>
  </div>
  <div class="card-body">
    <strong>{{ artifact.get('data') }}</strong><br>
    {{ artifact.get('report', {}).get('errorMessage') }}
  </div>
</div>
{% endif %}
