{% if artifact.get('status') == "Success" %}
{% set content = artifact.get('report', {}).get('full', {}) %}

<div class="card border-success">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active"
           id="home-tab_{{ artifact.get('id') }}"
           data-bs-toggle="tab"
           data-bs-target="#home_{{ artifact.get('id') }}"
           role="tab">
          Result
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           id="json-tab_{{ artifact.get('id') }}"
           data-bs-toggle="tab"
           data-bs-target="#json_{{ artifact.get('id') }}"
           role="tab">
          Json
        </a>
      </li>
      <li class="nav-item">
        <span class="nav-link disabled">
          Ext. Analysis
        </span>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">

      <div class="tab-pane fade show active"
           id="home_{{ artifact.get('id') }}"
           role="tabpanel">

        {% set isonvs = content.get('isonvs') %}

        {% if isonvs is sameas(false) %}
        <div class="panel panel-danger">
          <div class="panel-heading">
            Virusshare Report
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>MD5</dt>
              <dd>{{ content.get('md5') }}</dd>
              <dd class="mt-2">
                <form method="POST"
                      action="https://virusshare.com/search.4n6"
                      target="_blank">
                  <input type="hidden"
                         name="search"
                         value="{{ content.get('md5') }}">
                  <input class="btn btn-danger"
                         type="submit"
                         value="Open on Virusshare.com (Login first!)">
                </form>
              </dd>
            </dl>
          </div>
        </div>

        {% elif isonvs == "unknown" %}
        <div class="panel panel-danger">
          <div class="panel-heading">
            Virusshare Report
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Error</dt>
              <dd>{{ content.get('hash') }} is not MD5</dd>
              <dd class="mt-2">
                Still try to search:
                <form method="POST"
                      action="https://virusshare.com/search.4n6"
                      target="_blank">
                  <input type="hidden"
                         name="search"
                         value="{{ content.get('hash') }}">
                  <input class="btn btn-danger"
                         type="submit"
                         value="Open on Virusshare.com (Login first!)">
                </form>
              </dd>
            </dl>
          </div>
        </div>

        {% else %}
        <div class="panel panel-success">
          <div class="panel-heading">
            Virusshare Report
          </div>
          <div class="panel-body">
            <span>No match.</span>
          </div>
        </div>
        {% endif %}

      </div>

      <div class="tab-pane fade"
           id="json_{{ artifact.get('id') }}"
           role="tabpanel">
        <pre><code>{{ artifact | tojson(indent=2) }}</code></pre>
      </div>

    </div>
  </div>
</div>

{% else %}
<div class="card border-danger">
  <div class="card-header alert alert-danger">
    <strong>Error</strong>
  </div>
  <div class="card-body">
    <strong>{{ artifact.get('data') }}</strong><br>
    {{ artifact.get('report', {}).get('errorMessage') }}
  </div>
</div>
{% endif %}
