{% if artifact.status == "Success" %}
{% set content = artifact.report.full %}
<div class="card border-success">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" class="nav-link active" id="home-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#home_{{ artifact.id }}" role="tab" aria-controls="home_{{ artifact.id }}" aria-selected="true">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="json-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#json_{{ artifact.id }}" role="tab" aria-controls="json_{{ artifact.id }}" aria-selected="false">Json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ext. Analisys
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        </a>
      </li>
    </div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home_{{ artifact.id }}" role="tabpanel" aria-labelledby="home-tab_{{ artifact.id }}">

<!-- Success -->
{% if content.results | count > 0 %}
<div class="panel panel-danger" ng-if="success && content.results.length > 0">
    <div class="panel-heading">
        CyberCrimeTracker C2 Search Report
    </div>
    <div class="panel-body">
	{% for r in content.results %}
        <dl class="dl-horizontal" ng-repeat="r in content.results">
            <dt>IP:</dt>
            <dd>{{r.ip}}</dd>
            <dt>URL:</dt>
            <dd>{{r.url}}</dd>
            <dt>Date:</dt>
            <dd>{{r.date}}</dd>
            <dt>Type:</dt>
            <dd>{{r.type}}</dd>
            <dt>VirusTotal (Latest Scan):</dt>
            <dd>{{r.vt_latest_scan}}</dd>
            <dt>VirusTotal (IP Info):</dt>
            <dd>{{r.vt_ip}}</dd>
        </dl>
	{% endfor %}
    </div>
</div>
{% else %}
<div class="panel panel-info" ng-if="success && content.results.length == 0">
    <div class="panel-heading">
        CyberCrimeTracker C2 Search Report
    </div>
    <div class="panel-body">
        <b>No matches.</b>
    </div>
</div>
{% endif %}

     </div>
     <div class="tab-pane fade" id="json_{{ artifact.id }}" role="tabpanel" aria-labelledby="json-tab_{{ artifact.id }}">
        <pre>
        <code>
{{ artifact }}
        </code>
        </pre>
    </div>
    </div> <!-- tab content -->
    </div> <!-- card body -->
</div>
{% else %}
<!-- General error -->
<div class="card border-danger">
        <div class="card-header alert alert-danger">
                <strong>Error</strong>
        </div>
        <div class="card-body">
                <strong>{{(artifact.data)}}</strong><br>
                {{ artifact.report.errorMessage}}
        </div>
    </div>
</div>
{% endif %}
