{% if artifact.status == "Success" %}
{% set content = artifact.report.full %}
<div class="card border-success">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" class="nav-link active" id="home-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#home_{{ artifact.id }}" role="tab" aria-controls="home_{{ artifact.id }}" aria-selected="true">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="json-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#json_{{ artifact.id }}" role="tab" aria-controls="json_{{ artifact.id }}" aria-selected="false">Json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ext. Analisys
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        </a>
      </li>
    </div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home_{{ artifact.id }}" role="tabpanel" aria-labelledby="home-tab_{{ artifact.id }}">


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
<!--
        <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
           <style>
            #mapid { width: 800px;height: 600px; }
        </style>
-->
        
<div class="report-EmergingThreats" ng-if="success">

    {% if content.reputation %}
    {% if content.reputation != "-" %}
    {% if content.reputation != "Error" %}
    <div class="panel panel-info" ng-if="content.reputation && content.reputation != '-' && content.reputation != 'Error'">
        <div class="panel-heading">
            <strong>Reputation</strong>
        </div>
        <div class="panel-body">
	    {% for reputation in content.reputation %}
            <dl class="dl-horizontal" ng-repeat="reputation in content.reputation track by $index">
                <dt>{{ reputation.category }}</dt>
                <dd class="wrap">{{ reputation.score }}</dd>
            </dl>
	    {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.events %}
    {% if content.events != '-' %}
    {% if content.events != 'Error' %}
    <div class="panel panel-info" ng-if="content.events && content.events != '-' && content.events != 'Error'">
        <div class="panel-heading">
            <strong>Events</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Count</th>
                    <th>Date</th>
                    <th>Domain</th>
                    <th>Sid</th>
                    <th>Signature</th>
                    <th>Source</th>
                </tr>
		{% for events in content.events %}
                <tr ng-repeat="events in content.events track by $index">
                    <td align="right">{{ events.count }}</td>
                    <td>{{ events.date }}</td>
                    <td align="center">{{ events.domain  }}</td>
                    <td>{{ events.sid }}</td>
                    <td>{{ events.signature }}</td>
                    <td>{{ events.source }}</td>
                </tr>
		{% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.geoloc %}
    {% if content.geoloc != '-' %}
    {% if content.geoloc != 'Error' %}
    <div class="panel panel-info" ng-if="content.geoloc  && content.geoloc != '-' && content.geoloc != 'Error'">
        <div class="panel-heading">
            <strong>Geoloc</strong>
        </div>
      
        <div class="panel-body">
	    {% for geo in content.geoloc %}
            <div ng-repeat="geo in content.geoloc track by $index">
                <dl class="dl-horizontal">
                    <dt>City</dt>
                    <dd class="wrap">{{ geo.city }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>country</dt>
                    <dd class="wrap">{{ geo.country }} [{{ geo.country_code }}]</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>IP</dt>
                    <dd class="wrap">{{ geo.ip }}</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Coordinates<dt>
                    <dd class="wrap"><span class="geo_lat">{{ geo.latitude }}</span> / <span class="geo_lon">{{ geo.longitude }}</span></dd>
                </dl>
            </div>
            {% endfor %}
            <div id="mapid"></div>
        <!--
                <script>
                   
                $(document).ready(function(){
                    setTimeout(function(){
                    
                            var lat = $(".geo_lat").map(function(){return parseInt($(this).text());}).get();
                            var lon = $(".geo_lon").map(function(){return parseInt($(this).text());}).get();
                            var mymap = L.map('mapid').setView([0, 0], 3);
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                                maxZoom: 18,
                                id: 'mapbox.streets'
                            }).addTo(mymap);
							
							$.each( lon, function( index, value ){
                                L.marker([lat[index] , lon[index]]).addTo(mymap);
                            });
							
                            var mark_list = $.map( lon, function( index, value ){
                                return L.marker([lat[index] , lon[index]]);
                            });
                            
                            var group = new L.featureGroup(mark_list);
                            mymap.fitBounds(group.getBounds(),{maxZoom: 3});
                            
                    }, 3000);
                });

         
                </script>
-->
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.ips %}
    {% if content.ips != '-' %}
    {% if content.ips != 'Error' %}
    <div class="panel panel-info" ng-if="content.ips && content.ips != '-' && content.ips != 'Error'">
        <div class="panel-heading">
            <strong>IPs</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>IP</th>
                    <th>First seen</th>\
                    <th>Last seen</th>
                </tr>
		{% for ip in content.ips %}
                <tr ng-repeat="ip in content.ips | orderBy:'-last_seen'">
                    <td>{{ ip.ip }}</td>
                    <td>{{ ip.first_seen }}</td>
                    <td>{{ ip.last_seen }}</td>
                </tr>
		{% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.domains %}
    {% if content.domains != '-' %}
    {% if content.domains != 'Error' %}
    <div class="panel panel-info" ng-if="content.domains && content.domains != '-' && content.domains != 'Error'">
        <div class="panel-heading">
            <strong>Domains</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Name</th>
                    <th>First seen</th>
                    <th>Last seen</th>
                </tr>
		{% for domain in content.domains %}
                <tr ng-repeat="domain in content.domains | orderBy:'-last_seen'">
                    <td>{{ domain.domain }}</td>
                    <td>{{ domain.first_seen }}</td>
                    <td>{{ domain.last_seen }}</td>
                </tr>
		{% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.samples %}
    {% if content.samples != '-' %}
    {% if content.samples != 'Error' %}
    <div class="panel panel-info" ng-if="content.samples && content.samples != '-' && content.samples != 'Error'">
        <div class="panel-heading">
            <strong>Samples</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Source</th>
                    <th>First seen</th>
                    <th>Last seen</th>
                </tr>
		{% for samplce in content.sampes %}
                <tr ng-repeat="sample in content.samples | orderBy:'-last_seen'">
                    <td>{{ sample.source }}</td>
                    <td>{{ sample.first_seen }}</td>
                    <td>{{ sample.last_seen }}</td>
                </tr>
		{% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.nameservers %}
    {% if content.nameservers != '-' %}
    {% if content.nameservers != 'Error' %}
    <div class="panel panel-info" ng-if="content.nameservers && content.nameservers != '-' && content.nameservers != 'Error'">
        <div class="panel-heading">
            <strong>Nameservers</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Server</th>
                    <th>First seen</th>
                    <th>Last seen</th>\
                </tr>
		{% for nameserver in content.nameservers %}
                <tr ng-repeat="nameserver in content.nameservers | orderBy:'-last_seen'">
                    <td>{{ nameserver.server }}</td>
                    <td>{{ nameserver.first_seen }}</td>
                    <td>{{ nameserver.last_seen }}</td>
                </tr>
		{% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.reputation %}
    {% if content.reputation != '-' %}
    {% if content.reputation != 'Error' %}
    <div class="panel panel-info" ng-if="content.reputation && content.reputation != '-' && content.reputation != 'Error'">
        <div class="panel-heading">
            <strong>Urls</strong>
        </div>
        <div class="panel-body">
	    {% for url in content.urls %}
            <dl class="dl-horizontal" ng-repeat="url in content.urls track by $index">
                <dd class="wrap">{{ url }}</dd>
            </dl>
	    {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

    {% if content.whois  %}
    {% if content.whois != '-'  %}
    {% if content.whois != 'Error' %}
    <div class="panel panel-info" ng-if="content.whois && content.whois != '-' && content.whois != 'Error'">
        <div class="panel-heading">
            <strong>Whois</strong>
        </div>
        <div class="panel-body">
            <h4>Domain</h4>
            <dl class="dl-horizontal">
                <dd class="wrap">{{ content.whois.domain }}</dd>
            </dl>
            <h4>Registrant</h4>
            <dl class="dl-horizontal">
                <dt>Created</dt>
                <dd class="wrap">{{ content.whois.registrant.created }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Expires</dt>
                <dd class="wrap">{{ content.whois.registrant.expires }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Updated</dt>
                <dd class="wrap">{{ content.whois.registrant.updated }}</dd>
            </dl>            
            <h4>Registrar</h4>
            <dl class="dl-horizontal">
                <dt>Country</dt>
                <dd class="wrap">{{ content.whois.registrar.country }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd class="wrap">{{ content.whois.registrar.name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>Website</dt>
                <dd class="wrap">{{ content.whois.registrar.website }}</dd>
            </dl>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}

</div>


     </div>
     <div class="tab-pane fade" id="json_{{ artifact.id }}" role="tabpanel" aria-labelledby="json-tab_{{ artifact.id }}">
        <pre>
        <code>
{{ artifact }}
        </code>
        </pre>
    </div>
    </div> <!-- tab content -->
    </div> <!-- card body -->
</div>
{% else %}
<!-- General error -->
<div class="card border-danger">
        <div class="card-header alert alert-danger">
                <strong>Error</strong>
        </div>
        <div class="card-body">
                <strong>{{(artifact.data)}}</strong><br>
                {{ artifact.report.errorMessage}}
        </div>
    </div>
</div>
{% endif %}
