{% if artifact.status == "Success" %}
{% set content = artifact.report.full %}
<div class="card border-success">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" class="nav-link active" id="home-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#home_{{ artifact.id }}" role="tab" aria-controls="home_{{ artifact.id }}" aria-selected="true">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="json-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#json_{{ artifact.id }}" role="tab" aria-controls="json_{{ artifact.id }}" aria-selected="false">Json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ext. Analisys
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        </a>
      </li>
    </div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home_{{ artifact.id }}" role="tabpanel" aria-labelledby="home-tab_{{ artifact.id }}">

{% if content.Status == "No Error" %}
<div class="panel panel-info" ng-if="content.Status == 'No Error'" >
    <div class="panel-heading" >
        <strong> Answer </strong>
     </div>
    <div class="panel-body">
        <p><strong>Question : </strong>{{content.Question[0].name}} IN {{content.Question[0].type}}</p>
        <p><strong>Comment : </strong>{{content.Comment}}</p>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Data</th>
                <th>TTL</th>
            </tr>
	    {% for row in content.Answer %}
            <tr ng-repeat="row in content.Answer">
                <td>
                    {{row.name}}
                </td>
                <td>
                    <strong>{{row.type}}</strong>
                </td>
                 <td>
                    {{row.data}}
                </td>
                 <td>
                    {{row.TTL}}
                </td>
            </tr>
	    {% endfor %}
        </table>
    </div>
</div> 

{% else %}
<!-- Success but bad answer !--> 
<div class="panel panel-danger" ng-if="content.Error" >
    <div class="panel-heading" >
        <strong> Answer with error </strong>
     </div>
     <div class="panel-body">
        <p><strong>Question : </strong>{{content.Question[0].name}} IN {{content.Question[0].type}}</p>
        <p> <strong> Google DNS service indicate the following error : </strong> {{ content.Error }} </p>
     </div>
</div>
{% endif %}


     </div>
     <div class="tab-pane fade" id="json_{{ artifact.id }}" role="tabpanel" aria-labelledby="json-tab_{{ artifact.id }}">
        <pre>
        <code>
{{ artifact }}
        </code>
        </pre>
    </div>
    </div> <!-- tab content -->
    </div> <!-- card body -->
</div>
{% else %}
<!-- General error -->
<div class="card border-danger">
        <div class="card-header alert alert-danger">
                <strong>Error</strong>
        </div>
        <div class="card-body">
                <strong>{{(artifact.data)}}</strong><br>
                {{ artifact.report.errorMessage}}
        </div>
    </div>
</div>
{% endif %}
