{% if artifact.status == "Success" %}
{% set content = artifact.report.full %}
<div class="card border-success">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" class="nav-link active" id="home-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#home_{{ artifact.id }}" role="tab" aria-controls="home_{{ artifact.id }}" aria-selected="true">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="json-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#json_{{ artifact.id }}" role="tab" aria-controls="json_{{ artifact.id }}" aria-selected="false">Json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ext. Analisys
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        </a>
      </li>
    </div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home_{{ artifact.id }}" role="tabpanel" aria-labelledby="home-tab_{{ artifact.id }}">

<div>    
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Summary</strong>
        </div>
        <div class="panel-body">
	    {% if content.scan_results %}
            <dl class="dl-horizontal" ng-if="content.scan_results">
                <dt>Scan Result</dt>
                <dd class="wrap">
		    {% if content.scan_results.scan_all_result_i == -1 %}
                    <span ng-if="[0, 5].indexOf(content.scan_results.scan_all_result_i) !== -1" class="badge bg-success">
                        {{content.scan_results.scan_all_result_a}}
                    </span>
		    {% elif content.scan_results.scan_all_result_i == 1 %}
                    <span ng-if="content.scan_results.scan_all_result_i == 1" class="badge bg-danger">
                        {{content.scan_results.scan_all_result_a}}
                    </span>
		    {% elif content.scan_results.scan_all_result_i == 2%}
                    <span ng-if="content.scan_results.scan_all_result_i == 2" class="badge bg-warning">
                        {{content.scan_results.scan_all_result_a}}
                    </span>
		    {% else %}
                    <span ng-if="[3, 4, 6, 7].indexOf(content.scan_results.scan_all_result_i) !== -1" class="badge bg-info">
                        {{content.scan_results.scan_all_result_a}}
                    </span>                
		    {% endif %}
                </dd>
            </dl>
	   	 {% if content.scan_results.total_detected_avs %}
           	 <dl class="dl-horizontal" ng-if="content.scan_results">
           	     <dt>Scanning Engines</dt>
           	     <dd class="wrap">
           	         <span ng-if="content.scan_results.total_detected_avs">{{content.scan_results.total_detected_avs}}/</span>{{content.scan_results.total_avs}}
           	     </dd>
           	 </dl>
	   	{% endif %}
	   {% else %}
            <dl class="dl-horizontal">
                <dt>Search Result</dt>
                <dd class="wrap">
                    <span class="label label-success">
			{% for key, value in content.items() %}
			{{ key }}: {{ value }}
			{% endfor %}
                    </span>
		</dd>
	   </dl>
	   {% endif %}
        </div>
    </div>

    {% if content.file_info %}
    <div class="panel panel-info" ng-if="content.file_info">
        <div class="panel-heading">
            <strong>File Info</strong>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Uploaded</dt>
                <dd class="wrap">{{content.file_info.upload_timestamp}}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>File Type</dt>
                <dd class="wrap">
                    {{content.file_info.file_type_description}}
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>File Name</dt>
                <dd class="wrap">
                    {{content.file_info.display_name}}
                </dd>
            <dl class="dl-horizontal">
                <dt>File Size</dt>
                <dd class="wrap">
                    {{content.file_info.file_size}}
                </dd>
            </dl>    
            <dl class="dl-horizontal">
                <dt>sha256</dt>
                <dd class="wrap">
                    {{content.file_info.sha256}}
                </dd>
            </dl>  
            <dl class="dl-horizontal">
                <dt>sha1</dt>
                <dd class="wrap">
                    {{content.file_info.sha1}}
                </dd>
            </dl>  
            <dl class="dl-horizontal">
                <dt>md5</dt>
                <dd class="wrap">
                    {{content.file_info.md5}}
                </dd>
            </dl>                                                
        </div>
    </div>    
   {% endif %}

    {% if content.scan_results %}
    {% if content.scan_results.scan_details %}
    <div class="panel panel-info" ng-if="content.scan_results.scan_details">
        <div class="panel-heading">
            <strong>Multiscanning</strong>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>Engine</th>
                    <th>Scan Time</th>
                    <th>Definition Date</th>
                    <th>Result</th>
                </tr>
		{% for k, obj in content.scan_results.scan_details.items() %}
                <tr ng-repeat="(k, obj) in content.scan_results.scan_details">
                    <td>
			{% if obj.scan_result_i == 0 %}
                        <span class="badge bg-success" ng-if="obj.scan_result_i == 0"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
			{% elif obj.scan_result_i == 1 %}
                        <span class="badge bg-danger" ng-if="obj.scan_result_i == 1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
			{% elif obj.scan_result_i == 3 %}
                        <span class="badge bg-warning" ng-if="obj.scan_result_i == 3"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></span>
			{% endif %} 
                       {{k}}
                    </td>
                    <td>{{obj.scan_time}}</td>
                    <td>{{obj.def_time}}</td>
                    <td>{{obj.threat_found}}</td>
                </tr>
		{% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if content.yara_info %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Yara Matched</strong>
        </div>
        <div class="panel-body">
		{% for k in content.yara_info.hits %}
			<span class="badge bg-secondary">{{k}}</span>
	        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% endif %}
</div>


     </div>
     <div class="tab-pane fade" id="json_{{ artifact.id }}" role="tabpanel" aria-labelledby="json-tab_{{ artifact.id }}">
        <pre>
        <code>
{{ artifact }}
        </code>
        </pre>
    </div>
    </div> <!-- tab content -->
    </div> <!-- card body -->
</div>
{% else %}
<!-- General error -->
<div class="card border-danger">
        <div class="card-header alert alert-danger">
                <strong>Error</strong>
        </div>
        <div class="card-body">
                <strong>{{(artifact.data)}}</strong><br>
                {{ artifact.report.errorMessage}}
        </div>
    </div>
</div>
{% endif %}

