{% if artifact.status == "Success" %}
{% set content = artifact.report.full %}
<div class="card border-success">
    <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" class="nav-link active" id="home-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#home_{{ artifact.id }}" role="tab" aria-controls="home_{{ artifact.id }}" aria-selected="true">Result</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="json-tab_{{ artifact.id }}" data-bs-toggle="tab" data-bs-target="#json_{{ artifact.id }}" role="tab" aria-controls="json_{{ artifact.id }}" aria-selected="false">Json</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Ext. Analisys
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
          <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
          <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
        </svg>
        </a>
      </li>
    </div>
    <div class="card-body">
    <div class="tab-content" id="myTabContent">
     <div class="tab-pane fade show active" id="home_{{ artifact.id }}" role="tabpanel" aria-labelledby="home-tab_{{ artifact.id }}">

<!-- Success case -->
<div ng-if="success">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Owner Details</strong>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Location</dt>
                <dd>{{content.country}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>IP Address</dt>
                <dd>{{content.ip}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Fwd/Rev DNS Match</dt>
                <dd>{{content.dnsmatch == 1 && 'Yes' || 'No'}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Hostname</dt>
                <dd>{{content.hostname}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Domain</dt>
                <dd>{{content.domain}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Network Owner</dt>
                <dd>{{content.organization}}</dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Reputation Details</strong>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>Email Reputation</dt>
                <dd>{{content.email_score_name}}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt>Web Reputation</dt>
                <dd>{{content.web_score_name}}</dd>
            </dl>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>Blacklists</strong>
        </div>
        <div class="panel-body">
	    {% for key,value in content.blacklists.items() %}
            <dl class="dl-horizontal" ng-repeat="(key,value) in content.blacklists">
                <dt>{{key}}</dt>
                <dd>{{value.rules | length > 0 && 'Listed' || 'Not Listed'}}</dd>
            </dl>
	    {% endfor %}
        </div>
    </div>
</div>

     </div>
     <div class="tab-pane fade" id="json_{{ artifact.id }}" role="tabpanel" aria-labelledby="json-tab_{{ artifact.id }}">
        <pre>
        <code>
{{ artifact }}
        </code>
        </pre>
    </div>
    </div> <!-- tab content -->
    </div> <!-- card body -->
</div>
{% else %}
<!-- General error -->
<div class="card border-danger">
        <div class="card-header alert alert-danger">
                <strong>Error</strong>
        </div>
        <div class="card-body">
                <strong>{{(artifact.data)}}</strong><br>
                {{ artifact.report.errorMessage}}
        </div>
    </div>
</div>
{% endif %}
